 <footer class="container">
    	<div class="row">
    	    <div id="footer-content">
    	    	<section class="clearfix">
    		    	<div class="col-md-6">
    		    		<h3>好友博客：</h3>
    					
    					<dl>
    						<dd>
    							<a target="_blank" href="http://xcoder.in/" title="Bootstrap中文网" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'siyue'])">死月</a>
    						</dd>
   
    					</dl>
    		    	</div>
    
    				<div class="col-md-6">
    					<h3>联系方式：</h3>
    
    					<p class="footer-phone"><i class="fa fa-qq"></i> 372269470</p>
    					<p class="footer-email"><i class="fa fa-envelope"></i>taevas@qq.com</p>
    				</div>
    			</section>
    	    </div>
    
    	    <div class="col-xs-12" id="social-icons">
    		    <a target="_blank" class="icon-gplus" href="http://t.qq.com/zy060801"><i class="fa  fa-tencent-weibo fa-2x"></i>腾讯微博</a>
    		</div>
    
    	    <div class="col-xs-12" id="copyrights">
    	         <section class="copyright">TaEvAs —— Deadline是第一生产力(╯◕◞౪◟◕‵)╯︵ ┴─┴.</section>
    	   </div>
        </div>
    </footer>