    <nav class="navbar navbar-ghost" role="navigation">
    	<div class="container-fluid">
    
    		<!-- Brand and toggle get grouped for better mobile display -->
    	    <div class="navbar-header">
    	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#global-navbar">
    	        <span class="sr-only">Toggle navigation</span>
    	        <span class="icon-bar"></span>
    	        <span class="icon-bar"></span>
    	        <span class="icon-bar"></span>
    	      </button>
    	      <a class="navbar-brand" href="/"><img src="/static/img/头像.jpeg" alt="logo" width="50"></a>
    	    </div>
    
    	    <!-- Collect the nav links, forms, and other content for toggling -->
    	    <div class="collapse navbar-collapse" id="global-navbar">
    	    	<ul class="nav navbar-nav">
    	    		<li><a href="/">home page</a></li>
    	    		<li><a target="_blank" href="http://taevas.xyz" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'blog'])">blog</a></li>
    	    		<li><a href="https://github.com/zyvas" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'github'])">Github</a></li>
    	    		<!--
    		        <li><a target="_blank" href="http://docs.ghostchina.com/zh/" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'docs'])">中文文档</a></li>
    		        <li><a href="http://www.ghostchina.com/download/" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'download'])">下载</a></li>
				-->    		        
    		        <li><a href="#" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'about'])">about</a></li>
    			</ul>
    			<p class="navbar-text qq">QQ：372269470</p>
    	    </div>
    	</div>
    </nav>
